.rid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
    
    
  }
  .rid-item {
    padding: 20px;
    margin-right: 20px;
    text-align: center;
  }
  .rid-item:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px) ;
  }
  small{
      font-size: 1 rem;
      color: gray;
      
  }