.nav{
    background-color:whitesmoke;
    height: 60px;
    display: flex;
    
}

.banner{

   background-image: linear-gradient(rgba(215, 224, 228, 0.74), rgba(255, 51, 0, 0.5)), url("../../bannerbackground.png") ;
   background-repeat: no-repeat;
   background-size: 1500px 500px;
   width: 1450px;
   height: 500px;
   text-align: center;
   
   
   
  

}
.bton{
    
    background-color:rgba(185, 8, 8, 0.986);
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    
    
    
    
}
.searchbtn{
    color: white;
    background-color: rgb(16, 83, 16);
    width:30%;
    height: 30%;
    padding: 15px;
    margin: 5px;
    border:gray;
    

}

.text{
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
