
  form {
    max-width: 300px;
    
  }
  
  
  
  .form {
    
    max-width: 300px;
    /* margin: 0 auto; */
  }
  
 
  
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
 
  
  .btn,
  input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  }
  
  .btn {
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background: #bf1650;
  }
  
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  }
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  .login-banar{
      background-image: url("../../bannerbackground.png");
      background-repeat: no-repeat;
      background-size: 1400px 1000px;
      /* width: 100%;
      height: 100%; */
      align-items: center;
      text-align: center;
  }